.pyramid-block {
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.clicked {
    background-color: rgb(42, 160, 111);
    color: white;
}

.bottom-border {
    border-bottom: 1px solid black;
}

.right-border {
    border-right: 1px solid black;
}